/* VARIABLES */
:root {
    --profile-container-height: 60px;
    --message-input-height: 60px;
    --new-notifications-height: 70px;
    --chat-search-height: 40px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
html {
    font-family: 'Lato', sans-serif;
}

.webapp-general-container {
    height: 100vh;
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webapp-container {
    height: 90%;
    width: 80%;
    display: flex;

    /* test */
    border: 1px solid black;
}

.profile-options {
    display: flex;
}

.icon-wrapper {
    color: #b1b1b1;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* SECTION MY PROFILE */
.my-profile-container {
    width: 35%;
    height: 100%;
    background-color: #ffffff;
}

.my-profile-bar {
    height: var(--profile-container-height);
    width: 100%;
    background-color: #eaeaea;
    border-right: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-profile {
    display: flex;
    align-items: center;
}

.my-profile-name {
    font-weight: 700;
}

.profile-img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: .8rem;
}

.new-notifications {
    height: var(--new-notifications-height);
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.new-notifications-icon-wrapper {
    width: 50px;
    height: 50px;
    color: #8edafc;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 .5rem 0 1rem;
}

.new-notifications-title {
    font-weight: 700;
}

.new-notifications-cta {
    font-size: .9rem;
    text-decoration: underline;
    cursor: pointer;
}

.chat-search {
    width: 100%;
    height: var(--chat-search-height);
    background-color: #fafafa;
    padding: .3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    width: 98%;
    border: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-icon-wrapper {
    color: #b1b1b1;
    height: 100%;
    width: 15%;
    border-right: 1px solid #f5f5f5;
    text-align: center;
}

.chat-search input {
    width: 85%;
    border: transparent;
    padding: .3rem 0 .3rem .3rem;
}

.my-contacts {
    height: calc(100% - (var(--profile-container-height) + var(--new-notifications-height) + var(--chat-search-height)));
    width: 100%;
    overflow-y: auto;
}

.contact-object {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: .5rem .3rem .5rem .5rem;
    display: flex;
}

.time {
    
}

/* SECTION MY CHAT */
.active-chat-container {
    width: 65%;
    height: 100%;
}

.active-chat-bar {
    height: var(--profile-container-height);
    width: 100%;
    background-color: #eaeaea;
    border-left: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-chat-profile {
    display: flex;
    align-items: center;
}

.active-chat-profile-info {
    margin-left: .8rem;
}

.active-chat-profile-name {
    font-weight: 700;
}

.active-chat-profile-last-access {
    font-size: .8rem;
}

.active-chat-messages {
    height: calc(100% - (var(--profile-container-height) + var(--message-input-height)));
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.active-chat-new-message {
    height: var(--message-input-height);
    width: 100%;
    background-color: #f3eeea;
}
