/* VARIABLES */
:root {
    --profile-container-height: 60px;
    --message-input-height: 60px;
    --new-notifications-height: 70px;
    --chat-search-height: 40px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
html {
    font-family: 'Lato', sans-serif;
}

#root {
    height: 100vh;
    width: 100%;
}

.webapp-general-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #019687 0vh, #019687 15vh, #dbdad8 15vh, #dbdad8 100%);
}

.webapp-container {
    height: 90%;
    width: 80%;
    display: flex;
}

.profile-options {
    display: flex;
}

.icon-wrapper {
    color: #b1b1b1;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.active-chat {
    background-color: #e9ebeb;
}

/* SECTION MY PROFILE */
.my-profile-container {
    width: 35%;
    height: 100%;
    background-color: #ffffff;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

.my-profile-bar {
    height: var(--profile-container-height);
    width: 100%;
    background-color: #eaeaea;
    border-right: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-profile {
    display: flex;
    align-items: center;
}

.my-profile-name {
    font-weight: 600;
}

.profile-img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: .8rem;
}

.new-notifications {
    height: var(--new-notifications-height);
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.new-notifications-icon-wrapper {
    width: 50px;
    height: 50px;
    color: #8edafc;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 .5rem 0 1rem;
}

.new-notifications-title {
    font-weight: 600;
}

.new-notifications-cta {
    font-size: .9rem;
    text-decoration: underline;
    cursor: pointer;
}

.chat-search {
    width: 100%;
    height: var(--chat-search-height);
    background-color: #fafafa;
    padding: .3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    width: 98%;
    border: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-icon-wrapper {
    color: #b1b1b1;
    height: 100%;
    width: 15%;
    border-right: 1px solid #f5f5f5;
    text-align: center;
}

.chat-search input {
    width: 85%;
    border: transparent;
    padding: .3rem 0 .3rem .3rem;
}
/* MY CONTACTS */
.my-contacts {
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.contact-object {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: .5rem;
    display: flex;
    cursor: pointer;
}

.contact-object:hover {
    background-color: #f3f0f0;
}

.contact-info {
    margin-left: 1rem;
}

.contact-profile-name {
    font-weight: 600;
}

.contact-last-message {
    color: #b6b9bb;
    font-size: .9rem;
}

.time {
    color: #b6b9bb;
    font-size: .7rem;
    margin-left: auto;
}

/* SECTION MY CHAT */
.active-chat-container {
    width: 65%;
    height: 100%;
    min-width: 500px;
}

.active-chat-bar {
    height: var(--profile-container-height);
    width: 100%;
    background-color: #eaeaea;
    border-left: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-chat-profile {
    display: flex;
    align-items: center;
}

.active-chat-profile-info {
    margin-left: .8rem;
}

.active-chat-profile-name {
    font-weight: 600;
}

.active-chat-profile-last-access {
    font-size: .8rem;
}

/* MESSAGES SECTION */
.active-chat-messages {
    height: calc(100% - (var(--profile-container-height) + var(--message-input-height)));
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 1.5rem 2.5rem ;
}

.message-line {
    width: 100%;
    display: flex;
    margin-top: .5rem;
}

/* fare refactoring con classe comune */
/* e classe da assegnare con Vue */
.message {
    min-width: 300px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem .3rem .5rem 1rem;
    border-radius: 15px;
}

.sent {
    margin-left: auto;
    background-color: #d5f9ba;
}

.received {
    background-color: #ffffff;
}

.message-time {
    font-size: .7rem;
    margin-left: auto;
}

/* NEW MESSAGE BAR */
.active-chat-new-message {
    height: var(--message-input-height);
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.new-message-wrapper {
    width: 90%;
}

.new-message-wrapper input {
    border: transparent;
    width: 100%;
    padding: .8rem 0 .8rem .5rem;
    border-radius: 5px;
}

.icon-wrapper-chat {
    color: #6b7376;
    font-size: 1.5rem;
    cursor: pointer;
}